<div class="recipe">
    <img (click)="onClick()" class="recipe_img" [src]="'data:image/jpg;base64,' + recipe.img">
    <div class="recipe_container">
        <div class="recipe_stats">
            <div class="recipe_stats_tags">
                <p class="recipe_stats_tag" (click)="onSearch(tag)" *ngFor="let tag of recipe.tags">{{tag.name}}</p>
            </div>
            <div class="recipe_stat" (click)="onFavouritesClick()">
                <img class="recipe_stat_img" src="{{currStar}}">
                <p class="recipe_stat_number">{{recipe.favourites}}</p>
            </div>
            <div class="recipe_stat" (click)="onLikeClick()">
                <img class="recipe_stat_img" src="{{currLike}}">
                <p class="recipe_stat_number">{{recipe.likes}}</p>
            </div>
        </div>
        <div class="recipe_desc">
            <h3 class="recipe_desc_header">{{recipe.name}}</h3>
            <p class="recipe_desc_info">
               {{recipe.description}}
            </p>
        </div>
        <div class="recipe_info">
            <img width="80" class="recipe_info_block_img" src="/assets/images/timer.png">
            <div class="recipe_info_block">
                <p class="recipe_info_block_head">Время приготовления:</p>
                <p class="recipe_info_block_info">{{recipe.time}} мин</p>
            </div>
            <img width="80" class="recipe_info_block_img" src="/assets/images/people_outline.png">
            <div class="recipe_info_block">
                <p class="recipe_info_block_head">Рецепт на:</p>
                <p class="recipe_info_block_info">{{recipe.persons}} персон</p>
            </div>
        </div>
    </div>
</div>
