/recipe-backend/recipe-api/bin
/recipe-backend/recipe-api/obj
/recipe-backend/.vs
/recipe-backend/recipe-domain/bin
/recipe-backend/recipe-domain/obj
/recipe-backend/recipe-infrastructure/obj
/recipe-backend/recipe-infrastructure/bin
/recipe-backend/vs
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/culinary-recipes/v16/.suo
/.vs/slnx.sqlite
/recipe-backend/recipe-api/wwwroot
/recipe-backend/recipe-api/wwwroot/assets
/recipe-backend/recipe-infrastucture-migrations/Class1.cs
/recipe-backend/recipe-infrastucture-migrations/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/recipe-backend/recipe-infrastucture-migrations/obj/Debug/netstandard2.0/recipe-infrastucture-migrations.AssemblyInfo.cs
/recipe-backend/recipe-infrastucture-migrations/obj/Debug/netstandard2.0/recipe-infrastucture-migrations.AssemblyInfoInputs.cache
/recipe-backend/recipe-infrastucture-migrations/obj/Debug/netstandard2.0/recipe-infrastucture-migrations.assets.cache
/recipe-backend/recipe-infrastucture-migrations/obj/project.assets.json
/recipe-backend/recipe-infrastucture-migrations/obj/project.nuget.cache
/recipe-backend/recipe-infrastucture-migrations/obj/recipe-infrastucture-migrations.csproj.nuget.dgspec.json
/recipe-backend/recipe-infrastucture-migrations/obj/recipe-infrastucture-migrations.csproj.nuget.g.props
/recipe-backend/recipe-infrastucture-migrations/obj/recipe-infrastucture-migrations.csproj.nuget.g.targets
/recipe-backend/recipe-infrastucture-migrations/recipe-infrastucture-migrations.csproj
/recipe-backend/Recipe.Application/bin/Debug/netstandard2.0/Recipe.Application.deps.json
/recipe-backend/Recipe.Application/bin/Debug/netstandard2.0/Recipe.Application.dll
/recipe-backend/Recipe.Application/bin/Debug/netstandard2.0/Recipe.Application.pdb
/recipe-backend/Recipe.Application/obj/Debug/netstandard2.0/Recipe.Application.csproj.CoreCompileInputs.cache
/recipe-backend/Recipe.Application/obj/Debug/netstandard2.0/Recipe.Application.csproj.FileListAbsolute.txt
/recipe-backend/Recipe.Application/obj/Debug/netstandard2.0/Recipe.Application.dll
/recipe-backend/Recipe.Application/obj/Debug/netstandard2.0/Recipe.Application.pdb
