<div class="home_container">
    <div class="home_container_info">
        <h1 class="home_container_info_head">Готовь и делись рецептами</h1>
        <p class="home_container_info_desc">Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте.</p>
        <div class="home_container_bottons">
            <button class="home_container_bottons_add"
            [routerLink]="[{ outlets: { 'auth': ['authorize'] }}]">
                <img clas="home_container_bottons_add_img" src="/assets/images/plus.png"/>
                <p class="home_container_bottons_add_info"
                >Добавить рецепт</p>
            </button>
            <button class="home_container_bottons_login"
             [routerLink]="[{ outlets: { 'auth': ['login'] }}]"
             >Войти</button>
        </div>
    </div>
    <img class="home_container_img" src="/assets/images/Rectangle 1.png">
</div>
<app-sort></app-sort>
<app-best-recipe></app-best-recipe>
<div class="search">
    <h2 class="search_head">Поиск рецептов</h2>
    <p class="search_info">Введите примерное название блюда, а мы по тегам найдем его</p>
    <app-search></app-search>
</div>
