<div class="profile">
    <img src="assets/images/arrow.png">
    <a class="back" routerLink="/">Назад</a>
    <div class="profile_info">
        <h2 class="profile_info_head">Мой профиль</h2>
        <form class="profile_form">
            <div class="profile_form_info">
                <p class="name">имя</p>
                <p class="login">логин</p>
                <input class="profile_form_info_field" type="text" value="{{user.name}}">
                <input class="profile_form_info_field" type="text" value="{{user.login}}">
                <input class="profile_form_info_password" type={{type}} value="{{user.password}}">
                <img class="show_password" (click)="onShowPass()" src="assets/images/show.png"/>
            </div>
            <textarea rows="8" cols="5" class="profile_form_info_about" type="textarea"
             placeholder="Напишите немного о себе" value="{{user.about}}"></textarea>
            <img class="change" src="assets/images/karandash.png">
        </form>
        <div class="profile_stat">
            <app-stat
            *ngFor="let stat of stats"
            [stat]="stat"
            ></app-stat>
        </div>`
        <div>
            <h3 class="profile_recipes">Мои рецепты</h3>
            <div>
                <app-recipe
                *ngFor="let recipe of recipes"
                [recipe]="recipe"
                ></app-recipe>
            </div>
        </div>
    </div>
</div>
