<div class="profile">
    <img src="assets/images/arrow.png">
    <a class="back">Назад</a>
    <div class="profile_info">
        <h2 class="profile_info_head">Мой профиль</h2>
        <form class="profile_form">
            <div class="profile_form_info">
                <input class="profile_form_info_field" type="text">
                <input class="profile_form_info_field"  type="text">
                <input class="profile_form_info_field"  type="text">
            </div>
            <input class="profile_form_info_about" type="text">
            <img class="change" src="assets/images/karandash.png">
        </form>
        <div class="profile_stat">

        </div>
        <div class="profile_recipes">
            <h3>Мои рецепты</h3>
        </div>
    </div>
</div>
