<form class="add_recipe">
    <div class="back_container">
        <img class="arrow" src="assets/images/arrow.png"/>
        <p class="back" routerLink="/">Назад</p>
    </div>
    <div class="add_recipe_top">
        <h2 class="add_recipe_head">Редактировать рецепт</h2>
        <button class="publish">Применить</button>
    </div>
    <div class="add_recipe_form">
        <input  class="up_img" id="upload_img" type="file"/>
        <label class="up_img_label" for="upload_img"><img src="assets/images/section03.png"/>
        </label>
        <div class="form_data">
            <input class="add_recipe_form_name" type="text" 
                placeholder="Название рецепта" 
                value="{{recipe.name}}"
            />
            <textarea class="add_recipe_form_desc" type="text"
                placeholder="Краткое описание рецепта(150 символов)"
                value="{{recipe.description}}">
            </textarea>
            <input class="add_recipe_form_name" type="text"
                placeholder="Добавить тэги" 
                value="{{recipe.tags[0]}} {{recipe.tags[1]}} {{recipe.tags[2]}}"
             />
            <div class="minutes_and_persons">
                <div class="minutes">
                    <input class="choose" value="{{recipe.time}}" type="number"
                        placeholder="Время готовки" min="1" max="60"
                     />
                    <p class="stat_type">Минут</p>
                </div>
                <div class="persons">
                    <input class="choose" value="{{recipe.persons}}" type="number" 
                        placeholder="Порций в блюде" min="1" max="10"
                    />
                    <p class="stat_type">Персон</p>
                </div>
            </div>
        </div>
    </div>
    <div class="steps_and_ingr">
        <div class="ingridients">
            <p class="ingridients_title">Ингридиенты</p>
            <app-ingridient
            *ngFor="let ingr of ingrs"
            [ingr]="ingr"
            >
            </app-ingridient>
        </div>
        <div class="steps">
            <app-step
            *ngFor="let step of steps"
            [step]="step"
            >
            </app-step>
        </div>
    </div>
</form>
