.favourites_header{
    width: 811px;
    height: 62px;
    font: bold 42px/62px Montserrat;
    color: #25292D;
    margin-top: 50px;
    margin-bottom: 50px;
}

.empty{
    width: 556px;
    height: 30px;
    margin-left: 442px;
    margin-top: 117px;
    font: 600 24px/30px Montserrat;
    color: #FDB100;
    opacity: 0.5;
    margin-bottom: 888px;
}

.search_select_filter{
    display: block; 
    height: 18px;
    margin-right: 10px;
    font: normal 16px/18px Montserrat;
    color: #808080;
    width: 200px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 50px;
    margin-right: 30px;
    margin-bottom: 30px;
    justify-items: center;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
   } 
    .search_select_filter::-ms-expand { display: none; } 
    .search_select_filter:hover { border-color: #FDB100; } 
    .search_select_filter:focus { border-color: #FDB100; 
    box-shadow: 0 0 1px 3px rgba(252, 191, 59, 0.7);
    color: #808080;
    outline: none; 
    border: none;
}