.recipe{
    display: flex;
    margin-bottom: 20px;
    cursor: pointer;
    width: 1200px;
    height: 430px;
    position: relative;
}

.recipe_container{
    position: absolute;
    background-color: white;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    width: 916px;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: 260px;
}

.recipe_img{
    position: absolute;
    z-index: 2;
}

.recipe_stats{
    display: flex;
    margin-bottom: 30px;
}

.recipe_stat{
    display: flex;
    margin-right: 15px;
    width: 107px;
    height: 50px;
    border: 1px solid #FDB100;
    box-sizing: border-box;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 36px;
}

.recipe_stat_img{
    width: 20px;
    height: 20px;
    margin-right: 14px;
}

.recipe_stat_number{
    width: 19px;
    height: 28px;
    font: 600 18px/28px Montserrat;
    text-align: center;
    color: #FDB100;
    margin-top: 12px;
}

.recipe_stats_tags{
    display: flex;
    margin-right: 165px;
    margin-top: 51px;
}

.recipe_stats_tag{
    width: 90px;
    height: 25px;
    font: normal 14px/30px Montserrat;
    background-color:lemonchiffon;
    color: #F29E1F;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.recipe_info{
    display: flex;
    margin-top: 43px;
}

.recipe_info_block_img{
    margin-right: 20px;
}

.recipe_info_block{
    margin-right: 70px;
}

.recipe_info_block_head{
    width: 168px;
    height: 28px;
    font: normal 14px/28px Montserrat;
    color: #25292D;
    opacity: 0.5;
}

.recipe_info_block_info{
    width: 75px;
    height: 28px;
    font: normal 16px/28px Montserrat;
    color: #25292D;
}

.recipe_desc_header{
    width: 693px;
    height: 30px;
    font: bold 24px/30px Montserrat;
    text-transform: capitalize;
    color: #25292D;
}

.recipe_desc_info{
    width: 571px;
    height: 95px;
    font: normal 18px/30px Montserrat;
    color: #4A525A;
}