<div class="login">
    <p class="login_title">Войти</p>
    <form class="login_form" #myForm="ngForm" (ngSubmit)="login(myForm)">
        <input class="login_form_name" name="login" ngModel required type="text" placeholder="Логин"/>
        <input class="login_form_name" name="password" ngModel required type="password" placeholder="Пароль"/>
        <div class="login_buttons">
            <button type="submit" class='login_buttons_login'>Войти</button>
            <button class="login_buttons_cancel" (click)="onClose()">Отмена</button>
        </div>
    </form>
    <a class="login_to_register" (click)="toRegister()">У меня еще нет аккаунта</a>
</div>
