<div class="best_recipe">
    <img class="best_recipe_img" [src]="'data:image/jpg;base64,' + bestrecipe.img">
    <div class="best_recipe_desc">
        <div class="best_recipe_desc_stats">
            <img class="best_recipe_desc_stats_img_day" src="/assets/images/dayrec.png">
            <div class="best_recipe_desc_stats_img">
                <img class="sun_eye" src="/assets/images/eye.png">
                <img class="sun_eye" src="/assets/images/eye.png">
            </div>
            <div class="best_recipe_desc_stats_likes">
                <img width="20" height="21" src="/assets/images/like.png">
                <p class="best_recipe_desc_stats_likes_info">{{bestrecipe.likes}}</p>
            </div>
            <div class="best_recipe_desc_stats_time">
                <img width="20" height="21" src="/assets/images/time.png">
                <p class="best_recipe_desc_stats_time_info">{{bestrecipe.time}} минут</p>
            </div>
        </div>
        <div class="best_recipe_desc_info">
            <h2 class="best_recipe_desc_info_header">{{bestrecipe.name}}</h2>
            <p class="best_recipe_desc_info_text">
               {{bestrecipe.description}}
            </p>
        </div>
    </div>
</div>
