<div class="registration">
    <p class="registration_title">Регистрация</p>
    <form class="registration_form" #myForm="ngForm" (ngSubmit)="registration(myForm)">
        <input class="registration_long" name="name" ngModel required type="text" placeholder="Имя"/>
        <input class="registration_long" name="login" ngModel required type="text" placeholder="Логин"/>
        <input class="registration_short" name="password" ngModel required type="text" placeholder="Пароль"/>
        <input class='registration_short' type="text" placeholder="Повторите пароль"/>
        <div class="registration_buttons">
            <button type="submit" class="registration_buttons_register">Зарегистрироваться</button>
            <button class="registration_buttons_cancel" (click)="onClose()">Отмена</button>
        </div>
    </form>
    <p class="registration_to_login" (click)="toLogIn()">У меня уже есть аккаунт</p>
</div>
