<div class="search">
    <h2 class="search_head">Поиск рецептов</h2>
    <p class="search_info">Введите примерное название блюда, а мы по тегам найдем его</p>
    <form class="search_form">
        <input class="search_form_input" type="text" placeholder="Название блюда....">
        <button class="search_form_button">Поиск</button>
    </form>
</div>
<div class="search_tags">
    <p class="search_tag">Мясо</p>
    <p class="search_tag">Деликатесы</p>
    <p class="search_tag">Пироги</p>
    <p class="search_tag">Рыба</p>
</div>
